{% extends "base.html" %}

{% block content %}
    {% if output_file == "index.html" %}
    <div id="intro" class="jumbotron">
        <div class="container">
            <h1>jumbotron with welcome message</h1>
        </div>
    </div>
    {% endif %}
    <section id="content">
        {% include "include/pagination.html" %}
        {% for article in (articles_page.object_list if articles_page else articles) %}
            {% include "include/article_section.html" %}
        {% endfor %}
    </section>
{% endblock  %}