{% extends "base.html" %}

{% block content %}
    <section id="intro">
        <h1>maybe jumbotron with welcome message</h1>
        <h2>Themelist</h2>
    </section>
    <section id="content">
        <article class="articletheme">
            <h3>themename <small>category and tag information</small></h3>
            <div class="description">themedescription</div>
            
        </article>
    </section>
    <section id="content">
        <article class="articletheme">
            <h3>themename2 <small>category and tag information2</small></h3>
            <div class="description">themedescription2</div>
            
        </article>
    </section>
    <!-- include pagination -->
{% endblock  %}