{% extends "base.html" %}

{% block content %}
    {% if output_file == "index.html" %}
    <div id="intro" class="jumbotron">
        <div class="container">
            <h1>{{SITENAME}}</h1>
            <p>{{SITEDESCRIPTION}}</p>
            <p><a href="{{GIT_URL}}" class="btn btn-primary">pelican-themes Repository</a></p>
        </div>
    </div>
    {% endif %}
    <section id="content">
        {% for article in (articles_page.object_list if articles_page else articles) %}
            {% include "include/article_section.html" %}
        {% endfor %}
        {% include "include/pagination.html" %}
        <div id="next" current="{{output_file}}"></div>
    </section>
{% endblock  %}

{% block scripts %}
<script src="{{SITEURL}}/theme/js/pelicanthemespreviewer.js"></script>
{% endblock%}