body {
    padding-top: 90px;
}

.carousel-indicators li {
  background-color: #999;
  background-color: rgba(70,70,70,.25);
}

.carousel-indicators .active {
  background-color: #444;
}

.carousel-control > span{
    color: #2196f3;
}
